@import "tailwindcss";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;600;700;800&display=swap');

@theme {
  --font-sans: "Montserrat", ui-sans-serif, system-ui, sans-serif;
}

body {
  background-color: #F9FAFB;
  color: #111827;
}
